
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%; /* Mover el submenú a la derecha del menú padre */
    margin-top: -6px; /* Alinear verticalmente con el padre */
    display: none; /* Ocultar por defecto */
}

.dropdown-submenu:hover .dropdown-menu {
    display: block; /* Mostrar el submenú al pasar el mouse */
}
